<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604210841630-6j1g7h28eo34u57hv7s4jf5p1fc0j0r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604210841630-6j1g7h28eo34u57hv7s4jf5p1fc0j0r9</string>
	<key>API_KEY</key>
	<string>AIzaSyBR8GERk-s_XgKZvbQgVFdKGR0RGBi-Njg</string>
	<key>GCM_SENDER_ID</key>
	<string>604210841630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.electionapp</string>
	<key>PROJECT_ID</key>
	<string>electionapp-b2eac</string>
	<key>STORAGE_BUCKET</key>
	<string>electionapp-b2eac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604210841630:ios:e0182dd08f7ae76553060f</string>
</dict>
</plist>